<!DOCTYPE html>
<meta charset="utf-8">
<style>

.y.axis {
  font: 10px sans-serif;
}
.x.axis {
  font: 10px sans-serif;
}
.city {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>
<body>

<!-- load the d3.js library -->	

<table>
<% @probes.each do |probe| %>
	<%=render partial: 'probe', locals: { probe: probe } %>
<% end %>
</table>

<%= current_time_zone.html_safe %>

</body>
