<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @communication_channel.name %>
</p>


<%= link_to 'Edit', edit_communication_channel_path(@communication_channel) %> |
<%= link_to 'Back', communication_channels_path %>
