	<hr/>
	<br/>
	<br/>
	<div style="text-align: center;">
	 	Buzzword alarm: <b>Monitoring and Evaluation</b> of <b>Big Data</b> through the <b>Internet of Things</b> with remote environment sensors.
	</div>
	<div style="text-align: right;">
	<p>
		(a product of <a href="http://www.marsgeneral.com">marsgeneral.com</a>)
	</p>
</div>
</body>
</html>