<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<%= javascript_include_tag :application %>
	
	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
	<title>marsmonitoring.com</title>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35799315-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<meta name="google-site-verification" content="wB460QdZB8PtHKrmdkeqq5cJt37zmElwHXYmigB_yjA" />
</head>

<body>
	
	<div style="text-align: center;">
		<p><h1><img style="vertical-align:middle" src="./logo-mars-cleaned-medium-150.png" height="92"/> monitoring <i>beta</i></h1></p>
	</div>
	<hr/>
	<br/>
	<div style="text-align: center;">
		Enlighten your infrastructure services. <br/><br/>
		Bring Monitoring and Evaluation to your infrastructure assets. <br/><br/>
		Increase visibility. Protect your investments. Respond when necessary. Stay in charge.
	</div>
	<br/>

	<hr/>
